{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Image Upload</h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if invalid_image %}
                        <label for="image" style="color:red;">Image Must Be Dicom Format</label>
                    {% endif %}
                    <div class="form-group">
                      <input type="file" name="image">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Upload</button>
                </form>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
